.post-container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	h1 {
		font-size: 1.875rem;
		line-height: 2.25rem;
		font-weight: 700;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.date {
		font-size: 0.75rem;
		line-height: 1rem;
		// color: silver;
	}

	hr {
		border-bottom: 1px solid hsl(0, 0%, 90%);
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	article {
		max-width: 48rem;

		h3 {
			font-size: 1.25rem;
			line-height: 2.25rem;
			font-weight: 700;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		p {
			margin-top: 1.25rem;
			margin-bottom: 1.25rem;
		}

		ul {
			list-style-type: disc;
			margin-left: 20px;
		}

		pre {
			border-radius: 10px;
			font-size: 0.75rem;

			.number {
				color: #e6d37a;
				align-items: center;
				background-color: transparent;
				border-radius: 0px;
				display: inline;
				font-size: 0.75rem;
				margin-right: 0px;
				padding: 0px;
			}
		}
	}
}

#post-nav {
	border-bottom: 1px solid hsl(0, 0%, 90%);

	.navbar-item a {
		font-size: 0.9rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin: 0px 10px;
		color: black;
		text-decoration: none;

		svg {
			width: 1.1rem;
			height: 1.1rem;
		}
	}

	.navbar-item a:hover {
		color: silver;
		transition-duration: 500ms;
	}
}
